@model systemObslugiKlienta.Models.UserDataBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDataBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypPliku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
