@model IEnumerable<systemObslugiKlienta.Models.BazaDanych>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj nową bazę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPliku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwaPliku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th>
            <p>Analizuj</p>
        </th>
        <th>
            <p>Usuń</p>
        </th>
        <th>
            <p>Podgląd</p>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPliku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaPliku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Analizuj", "Edit", new { id = item.IdPliku })
        </td>
        <td>
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdPliku })
        </td>
        <td>
            @Html.ActionLink("Podgląd", "Details", new { id = item.IdPliku })
        </td>
    </tr>
}

</table>
