@model IEnumerable<systemObslugiKlienta.Models.UserDataBase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj nową bazę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            <p>Analizuj</p>
        </th>
        <th>
            <p>Usuń</p>
        </th>
        <th>
            <p>Podgląd</p>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.ActionLink("Analizuj", "Edit", new { id = item.FileId })
        </td>
        <td>
            @Html.ActionLink("Usuń", "Delete", new { id=item.FileId })
        </td>
        <td>
            @Html.ActionLink("Podgląd", "Details", new { id = item.FileId })
        </td>
    </tr>
}

</table>
